name: Build images

on:
  workflow_dispatch: # manual trigger
  schedule:
    # 4AM every monday, matches upstream weekly builds on sunday
    - cron: "0 4 * * MON"
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  base-images:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        tag:
          - arch
          - fedora
          - ubuntu

    steps: &build_steps
      # the arch container is really big now...
      # remove some huge packages to free up space
      # inspired by https://github.com/easimon/maximize-build-space
      - name: Maximize build space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install newer Buildah
        run: ./install-buildah-from-sid.sh

      - name: Build image
        id: build_image
        run:
          podman build
            --pull
            --tag "${{ github.repository }}:${{ matrix.tag }}"
            "${{ matrix.tag }}/"

      - name: Push to GHCR
        run:
          podman push
            --creds "${{ github.actor }}:${{ github.token }}"
            --compression-format=zstd
            --compression-level=20
            "${{ github.repository }}:${{ matrix.tag }}"
            "docker://ghcr.io/${{ github.repository }}:${{ matrix.tag }}"

  # deriv-images:
  #   runs-on: ubuntu-24.04
  #   needs: base-images
  #   strategy:
  #     matrix:
  #       tag:
  #         - zed
  #         - vr

  #   # run same steps as above, but with these tags
  #   steps: *build_steps
